<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Lect-12/public/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-100vh bg-zinc-900 p-10 text-white">
      <!-- back to home -->
      <div class="nav mb-10">
        <a class="text-blue-400 hover:underline" href="/">Back to Home</a>
      </div>
      <!-- title -->

      <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>
      <div class="users flex gap-3 flex-wrap">
        <!-- user -->
        <!-- <div class="user max-w-72 p-5 bg-zinc-800 rounded-lg">
          <div class="w-full h-52 rounded-lg bg-zinc-500"></div>
          <h3 class="text-xl mt-3 tracking-tighter">Suman Kumar Ghosh</h3>
          <h5 class="text-zinc-500">sumankumarghosh94@gmail.com</h5>
          <div class="flex gap-3 mt-10">
            <a href="#" class="text-blue-400 hover:underline">Edit</a>
            <a href="#" class="text-red-400 hover:underline">Delete</a>
          </div>
        </div> -->
        <!-- user -->
        <!-- <div class="user max-w-72 p-5 bg-zinc-800 rounded-lg">
          <div class="w-full h-52 rounded-lg bg-zinc-500"></div>
          <h3 class="text-xl mt-3 tracking-tighter">Suman Kumar Ghosh</h3>
          <h5 class="text-zinc-500">sumankumarghosh94@gmail.com</h5>
          <div class="flex gap-3 mt-10">
            <a href="#" class="text-blue-400 hover:underline">Edit</a>
            <a href="#" class="text-red-400 hover:underline">Delete</a>
          </div>
        </div> -->
        <!-- -->
        <% if(users.length > 0) { %> <% users.forEach(function(user) { %>
        <div class="user max-w-72 p-5 bg-zinc-800 rounded-lg">
          <div class="w-full h-52 rounded-lg bg-zinc-500 overflow-hidden">
            <img
              src="<%= user.image %>"
              alt="<%= user.name %>"
              class="w-full h-full object-cover"
            />
          </div>
          <h3 class="text-xl mt-3 tracking-tighter"><%= user.name %></h3>
          <h5 class="text-zinc-500"><%= user.email %></h5>
          <div class="flex gap-3 mt-10">
            <a
              class="text-blue-400 hover:underline"
              href="/edit/<%= user._id %>"
              >Edit</a
            >
            <a
              class="text-red-400 hover:underline"
              href="/delete/<%= user._id %>"
              >Delete</a
            >
          </div>
        </div>
        <% }); %> <% } else { %>
        <p>No users found.</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
